*{
    box-sizing: border-box;
}
body{

    background-color: dodgerblue;
}
.cont{
    display: flex;
    flex-direction: column;
    height: 95vh;
width: 95vw;
}
h1{
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: monospace;
    padding: 10px;
    text-align: center;
    border-bottom: 3px solid black;
}
.imgcont {

display: flex;
justify-content: center;
align-items: center;
padding: 10px;
overflow: hidden;
}
.img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 15px;
    color: dodgerblue;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    backdrop-filter:blur(10px);
}

h3{
    position: absolute;
    background-image: url();
    bottom: -100px;
    opacity: 0;
    font-size: 20px;
    font-family: monospace;
}
 .img:hover{
    flex-grow: 5;
    flex-shrink: 5;
    flex-basis: 0%;
    
}

.img:hover h3{
font-size: 35px;
opacity: 1;
bottom: 20px;
left: 20px;
transition: all 1s;

}